<div class="flex space-x-4 py-6">
  <div class="px-10">
    <p class="text-lg text-neutral-800 font-semibold mt-2 mb-4">
      Filters
    </p>
    <div class="text-md">
      <div class="pb-4 [&:not(:last-child)]:border-b">
        <div class="font-semibold mb-2">
          Season
        </div>
        <div><%= link_to("All Seasons", @season.show) %></div>
        <% @seasons.each do |s| %>
          <div><%= link_to_season(s) %></div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="w-[840px] flex flex-col items-center">
    <div class="space-y-3 w-full">
      <% @chefs.each do |chef| %>
        <%= render partial: "shows/chef", locals: { chef: chef }%>
      <% end %>
    </div>
  </div>
</div>