<div class="flex w-[840px] bg-red-500">
  <div class="flex-none bg-slate-100 min-w-40 min-h-48 pt-4 flex flex-col items-center">
    <div class="rounded-full w-24 h-24 bg-red-400 mb-2">
    </div>
    <div>
      <%= chef.first_name %>
    </div>
    <div>
      <%= chef.last_name %>
    </div>
  </div>
  <div class="bg-red-300 flex-grow py-4 px-6">
    Restaurants
  </div>
</div>