<div class="w-[300px] mb-5 rounded-lg shadow-[rgba(50,_50,_105,_0.15)_0px_2px_5px_0px,_rgba(0,_0,_0,_0.05)_0px_1px_1px_0px] overflow-hidden">
  <%= link_to(show) do %>
    <div class="w-full h-[200px] bg-neutral-200"></div>
    <div class="py-2 px-4 text-neutral-800 font-semibold text-lg">
      <%= show.name %>
    </div>
  <% end %>
</div>